:root
{
   --text-color: #FFFFFF;
   --text-size: 60px;
   --button-color : #093028
}


html,
body
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100% ;
  overflow: hidden ;
}

.container 
{
  background: linear-gradient(-135deg,#093028,#237A57);
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100% ;
  font-family: 'Lato', sans-serif;
}

h1 
{
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
  font-size: var(--text-size);
}

.content 
{
  display: flex;
  flex-direction:column;
}
.questionTitle
{
  display: block;
}

.buttons 
{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.buttons a
{
  width: 90px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  border: solid 2px var(--button-color);
  background: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
  text-align: center; 
  font-weight: 600;
  font-size: 18px;
}

.buttons a:hover,
.no a:hover,
.yes a:hover
{ border: solid 2px var(--button-color);
  background: #ffffff;
  color:var(--button-color)
}



.questions
{
  text-align: center;
  font-size: 25px;

}

.reponses
{
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

.reponseN,
.reponseN2,
.reponseN3,
.reponseN4,
.reponseN5,
.reponseP,
.reponseP2
{
  display: none;
}

.question1
{
  display: block;
}
.question2,
.question3,
.question4,
.question5,
.question6,
.question7
{
  display: none;
}